<p id="notice"><%= notice %></p>

<h1>Listing Kid Pools</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Iduser</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kid_pools.each do |kid_pool| %>
      <tr>
        <td><%= kid_pool.date %></td>
        <td><%= kid_pool.idUser %></td>
        <td><%= link_to 'Show', kid_pool %></td>
        <td><%= link_to 'Edit', edit_kid_pool_path(kid_pool) %></td>
        <td><%= link_to 'Destroy', kid_pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kid pool', new_kid_pool_path %>
