<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @kid_pool.date %>
</p>

<p>
  <strong>Iduser:</strong>
  <%= @kid_pool.idUser %>
</p>

<%= link_to 'Edit', edit_kid_pool_path(@kid_pool) %> |
<%= link_to 'Back', kid_pools_path %>
