<p id="notice"><%= notice %></p>

<h1>Listing Adult Pools</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Iduser</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adult_pools.each do |adult_pool| %>
      <tr>
        <td><%= adult_pool.date %></td>
        <td><%= adult_pool.idUser %></td>
        <td><%= link_to 'Show', adult_pool %></td>
        <td><%= link_to 'Edit', edit_adult_pool_path(adult_pool) %></td>
        <td><%= link_to 'Destroy', adult_pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adult pool', new_adult_pool_path %>
