<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @adult_pool.date %>
</p>

<p>
  <strong>Iduser:</strong>
  <%= @adult_pool.idUser %>
</p>

<%= link_to 'Edit', edit_adult_pool_path(@adult_pool) %> |
<%= link_to 'Back', adult_pools_path %>
