<p id="notice"><%= notice %></p>

<h1>Listing Courts</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Iduser</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courts.each do |court| %>
      <tr>
        <td><%= court.date %></td>
        <td><%= court.idUser %></td>
        <td><%= link_to 'Show', court %></td>
        <td><%= link_to 'Edit', edit_court_path(court) %></td>
        <td><%= link_to 'Destroy', court, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Court', new_court_path %>
