<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @court.date %>
</p>

<p>
  <strong>Iduser:</strong>
  <%= @court.idUser %>
</p>

<%= link_to 'Edit', edit_court_path(@court) %> |
<%= link_to 'Back', courts_path %>
