<% if user_signed_in? %>
<h1>Olá <%=current_user.email%></h1>

<ul>
	</li><%= link_to "Option", option_path %></li><br>
	</li><%= link_to "Exit", destroy_user_session_path, method: :delete %></li>
</ul>

<% else %>

<h1>Bem vindo ao sistema principal do Resort</h1>
<ul>
	<li><%= link_to "Ainda não é cliente?Cadastre-se aqui", new_user_registration_path %></li>
	<li><%= link_to "Logar", new_user_session_path %></li>
</ul>

<% end %>