<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @gym.date %>
</p>

<p>
  <strong>Iduser:</strong>
  <%= @gym.idUser %>
</p>

<%= link_to 'Edit', edit_gym_path(@gym) %> |
<%= link_to 'Back', gyms_path %>
