<%= form_for(@sauna) do |f| %>
  <% if @sauna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sauna.errors.count, "error") %> prohibited this sauna from being saved:</h2>

      <ul>
      <% @sauna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :idUser %><br>
    <%= f.text_field :idUser %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
