<p id="notice"><%= notice %></p>

<h1>Listing Saunas</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Iduser</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @saunas.each do |sauna| %>
      <tr>
        <td><%= sauna.date %></td>
        <td><%= sauna.idUser %></td>
        <td><%= link_to 'Show', sauna %></td>
        <td><%= link_to 'Edit', edit_sauna_path(sauna) %></td>
        <td><%= link_to 'Destroy', sauna, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sauna', new_sauna_path %>
