<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @sauna.date %>
</p>

<p>
  <strong>Iduser:</strong>
  <%= @sauna.idUser %>
</p>

<%= link_to 'Edit', edit_sauna_path(@sauna) %> |
<%= link_to 'Back', saunas_path %>
